# LLM APIConfiguration（support OpenAI SDK Any format LLM API）
# It is recommended to use Alibaba Bailian platformqwen-plusModel：https://bailian.console.aliyun.com/
# Note that consumption is high，You can first proceed with less than40wheel simulation attempt
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus

# ===== ZEPtranslated text =====
# Free monthly quota can support simple use：https://app.getzep.com/
ZEP_API_KEY=your_zep_api_key_here

# ===== translated text LLM Configuration（Optional）=====
# Note that if you do not use acceleration configuration，envDo not have the following configuration items appear in the file
LLM_BOOST_API_KEY=your_api_key_here
LLM_BOOST_BASE_URL=your_base_url_here
LLM_BOOST_MODEL_NAME=your_model_name_here